@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    </body>
    <!-- F5 for development -->
    <!-- TODO jflute example: play2's F5 only when development and none display -->
    <img alt="dummy" src="http://localhost:8386/refresh?dbflute-example-on-play2java=INFINITE"/>
    <img alt="dummy" src="http://localhost:8387/refresh?dbflute-example-on-play2java=INFINITE"/>
    <img alt="dummy" src="http://localhost:8388/refresh?dbflute-example-on-play2java=INFINITE"/>
    <img alt="dummy" src="http://localhost:8389/refresh?dbflute-example-on-play2java=INFINITE"/>
</html>
